@media screen and (min-width: 1024px) {
     .footer {
        background-size: cover;
     }
   
}

@media screen and (max-width: 768px) {

        .curiosidade {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
}